<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DfontSplitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DfontSplitter.Properties.Settings>
            <setting name="shouldCheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastUpdateCheck" serializeAs="String">
                <value>2011-03-01</value>
            </setting>
            <setting name="updateCheckFrequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="hasAskedPermissionForUpdateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shouldSpawnExplorer" serializeAs="String">
                <value>True</value>
            </setting>
        </DfontSplitter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
